# Server Configuration
PORT=5000

# MongoDB Database Connection URL
MONGODB_URI="mongodb+srv://maxamedaweys90_db_user:8ckYwtFbDbxaCpZZ@cluster0.mjhv15l.mongodb.net/?appName=Cluster0"

# JWT Secret for Authentication
JWT_SECRET=9WfsF9eFVCA991ZxsBgprWuWmfvophV8RXKA2UR1n/A=